/* App.css */
.box-container {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  .Pcontainer {
    max-width: 500px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
  }
#PathForge {
    
    
  
    h1 {
      color: #333;
    }
  
    form {
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 10px;
    }
  
    input {
      width: 25%;
      padding: 8px;
      margin-bottom: 10px;
    }
  
    button {
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: #45a049;
    }
  
    h2 {
      color: #333;
      margin-bottom: 10px;
    }
  
    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      margin-bottom: 5px;
    }
  
    strong {
      font-weight: bold;
      margin-right: 5px;
    }
  }
  